<a href="https://colab.research.google.com/github/Washington055/Python-EDA/blob/main/Corredores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import files
from google.colab import files
datos = files.upload()

Saving Corredores.csv to Corredores.csv

In [ ]:
#import libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#read file
corredores=pd.read_csv("Corredores.csv", index_col=0)

In [ ]:
## EDA

In [ ]:
corredores.head(5)

      Corredor  Lugar  Genero  Edad      Tiempo
Pais
GBR       3475   3592    Male    52  217.483333
NY       13594  13853  Female    40  272.550000
FRA      12012  12256    Male    31  265.283333
MI       10236  10457  Female    33  256.150000
NY        9476   9686    Male    33  252.250000

In [ ]:
corredores.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, GBR to GER
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Corredor  1000 non-null   int64
 1   Lugar     1000 non-null   int64
 2   Genero    1000 non-null   object
 3   Edad      1000 non-null   int64
 4   Tiempo    1000 non-null   float64
dtypes: float64(1), int64(3), object(1)
memory usage: 46.9+ KB

In [ ]:
corredores.iloc[:,0:3]

      Corredor  Lugar  Genero
Pais
GBR       3475   3592    Male
NY       13594  13853  Female
FRA      12012  12256    Male
MI       10236  10457  Female
NY        9476   9686    Male
...        ...    ...     ...
FRA      15972  16261    Male
GBR       1090   1131    Male
IRL      16419  16713  Female
NY       13977  14241  Female
GER       8527   8726    Male

[1000 rows x 3 columns]

In [ ]:
corredores.loc["NY","Genero"]

Pais
NY    Female
NY      Male
NY      Male
NY      Male
NY      Male
       ...
NY      Male
NY      Male
NY    Female
NY    Female
NY    Female
Name: Genero, Length: 284, dtype: object

In [ ]:
corredores.loc["NY","Genero":"Tiempo"]

      Genero  Edad      Tiempo
Pais
NY    Female    40  272.550000
NY      Male    33  252.250000
NY      Male    33  258.333333
NY      Male    43  257.133333
NY      Male    33  253.616667
...      ...   ...         ...
NY      Male    30  251.583333
NY      Male    31  275.550000
NY    Female    46  501.550000
NY    Female    40  263.383333
NY    Female    21  276.050000

[284 rows x 3 columns]

In [ ]:
##male gender corredores

In [ ]:
corredores_hombres=corredores[corredores["Genero"]=="Male"]
corredores_hombres

      Corredor  Lugar Genero  Edad      Tiempo
Pais
GBR       3475   3592   Male    52  217.483333
FRA      12012  12256   Male    31  265.283333
NY        9476   9686   Male    33  252.250000
NJ        1720   1784   Male    40  201.966667
GBR      10580  10805   Male    27  255.883333
...        ...    ...    ...   ...         ...
ITA      13752  14013   Male    49  273.033333
CAN       4079   4206   Male    27  223.333333
FRA      15972  16261   Male    61  285.883333
GBR       1090   1131   Male    37  191.916667
GER       8527   8726   Male    55  240.966667

[708 rows x 5 columns]

In [ ]:
## Older adult runners over 50 years

In [ ]:
corredores_adultos_mayores=corredores[corredores["Edad"]>50]
corredores_adultos_mayores

      Corredor  Lugar  Genero  Edad      Tiempo
Pais
GBR       3475   3592    Male    52  217.483333
GBR      14956  15229  Female    63  281.266667
FL       23043  23413    Male    71  414.700000
GBR      17363  17683    Male    52  295.316667
CA        9935  10151    Male    52  254.250000
...        ...    ...     ...   ...         ...
CT       22691  23059    Male    51  380.683333
TN       15901  16189  Female    51  285.350000
FRA      15972  16261    Male    61  285.883333
IRL      16419  16713  Female    53  289.016667
GER       8527   8726    Male    55  240.966667

[152 rows x 5 columns]

In [ ]:
## Female runners with time less than 200

In [ ]:
corredores_veloces=corredores[(corredores["Genero"]=="Female") & (corredores["Tiempo"]<200)]
corredores_veloces

      Corredor  Lugar  Genero  Edad      Tiempo
Pais
CA         861    892  Female    30  187.733333
NY        1234   1281  Female    35  194.950000
MN        1136   1180  Female    36  193.316667
MN        1013   1053  Female    42  190.933333
NY         408    425  Female    26  175.533333