<a href="https://colab.research.google.com/github/Washington055/Python-EDA/blob/main/Reemplazar_valores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Replacement values

In [ ]:
from google.colab import files
datos= files.upload()

Saving Niveles de contaminacion.csv to Niveles de contaminacion.csv

In [ ]:
#import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
niveles=pd.read_csv("Niveles de contaminacion.csv")

In [ ]:
niveles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Numero_de_empresas  33 non-null     int64
 1   PM10                33 non-null     int64
 2   PM2.5               29 non-null     float64
 3   SO2                 32 non-null     float64
 4   CO                  33 non-null     int64
 5   NOX                 25 non-null     float64
 6   COV                 33 non-null     int64
 7   NH3                 33 non-null     int64
 8   CN                  25 non-null     float64
dtypes: float64(4), int64(5)
memory usage: 2.4 KB

In [ ]:
niveles.isnull().sum()

Numero_de_empresas    0
PM10                  0
PM2.5                 4
SO2                   1
CO                    0
NOX                   8
COV                   0
NH3                   0
CN                    8
dtype: int64

In [ ]:
niveles

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,NaN,11692,254,NaN
2,27,1028,752.0,22890.0,505,NaN,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,NaN,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,NaN
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,NaN,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,NaN,10141.0,1325,NaN,2885,484,450.0
17,8,2913,1650.0,286.0,472,NaN,1427,536,NaN
18,480,9752,7074.0,35548.0,85330,NaN,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,NaN,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,NaN
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,NaN,6327,1840,NaN
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,NaN
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,NaN
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,NaN,NaN,2,NaN,193,0,NaN

In [ ]:
niveles1=niveles.fillna(0)
niveles1

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,0.0,11692,254,0.0
2,27,1028,752.0,22890.0,505,0.0,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,0.0,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,0.0
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,0.0,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,0.0,10141.0,1325,0.0,2885,484,450.0
17,8,2913,1650.0,286.0,472,0.0,1427,536,0.0
18,480,9752,7074.0,35548.0,85330,0.0,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,0.0,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,0.0
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,0.0,6327,1840,0.0
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,0.0
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,0.0
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,0.0,0.0,2,0.0,193,0,0.0

In [ ]:
niveles2= niveles.apply(lambda x:x.fillna(x.mean()),axis=0)
niveles2

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.000000,1814.00000,235,843.00,1836,14,5.00
1,588,1978,1842.000000,5588.00000,6850,18707.28,11692,254,597.72
2,27,1028,752.000000,22890.00000,505,18707.28,516,115,58.00
3,39,4527,3847.000000,574973.00000,8698,34132.00,3465,382,356.00
4,214,5063,3083.000000,54592.00000,2510,4845.00,3419,912,812.00
5,34,3360,4909.482759,33287.00000,9505,11015.00,4741,264,137.00
6,42,19963,16177.000000,190970.00000,24171,158743.00,6202,1220,597.72
7,367,8207,4958.000000,166476.00000,1767,20578.00,1296,449,508.00
8,1569,1381,826.000000,699.00000,766,2217.00,21967,50,23.00
9,80,2971,4909.482759,27144.00000,2930,6645.00,3156,157,166.00
10,233,3810,2770.000000,48462.00000,74299,9249.00,10155,1137,171.00
11,8,8215,7725.000000,104172.00000,2327,11206.00,708,88,451.00
12,129,12532,8977.000000,216611.00000,115085,31484.00,7567,322,370.00
13,692,8768,5399.000000,23897.00000,3216,6323.00,15623,1983,1172.00
14,1232,5103,3627.000000,6763.00000,6244,15159.00,48140,233,187.00
15,151,5095,3460.000000,13717.00000,2856,4303.00,5379,1957,379.00
16,65,3133,4909.482759,10141.00000,1325,18707.28,2885,484,450.00
17,8,2913,1650.000000,286.00000,472,18707.28,1427,536,597.72
18,480,9752,7074.000000,35548.00000,85330,18707.28,13498,511,337.00
19,20,9218,5838.000000,111005.00000,104373,18707.28,7383,3376,838.00
20,252,4556,2673.000000,4558.00000,2576,6335.00,3685,54,552.00
21,184,1510,1153.000000,4444.00000,2379,6916.00,5930,92,597.72
22,11,2076,1199.000000,566.00000,349,512.00,866,387,348.00
23,132,14733,9472.000000,86202.00000,5083,18707.28,6327,1840,597.72
24,62,7203,4623.000000,106277.00000,1209,10896.00,3119,763,597.72
25,214,5063,3083.000000,54592.00000,2510,4845.00,3419,912,812.00
26,179,7986,5116.000000,75004.00000,3732,13328.00,4093,327,259.00
27,104,3612,2501.000000,14118.00000,6911,21139.00,6280,607,496.00
28,222,7572,6162.000000,50158.00000,69356,30307.00,30732,2071,324.00
29,94,307,211.000000,1456.00000,244,822.00,1216,10,597.72
30,197,41938,25779.000000,160835.00000,81529,45656.00,26427,7877,5608.00
31,51,2108,1769.000000,19008.00000,2973,10184.00,3834,198,124.00
32,12,40,4909.482759,69570.40625,2,18707.28,193,0,597.72

In [ ]:
niveles3= niveles.apply(lambda x:x.fillna(x.median()),axis=0)
niveles3

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,10184.0,11692,254,356.0
2,27,1028,752.0,22890.0,505,10184.0,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,3460.0,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,356.0
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,3460.0,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,3460.0,10141.0,1325,10184.0,2885,484,450.0
17,8,2913,1650.0,286.0,472,10184.0,1427,536,356.0
18,480,9752,7074.0,35548.0,85330,10184.0,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,10184.0,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,356.0
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,10184.0,6327,1840,356.0
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,356.0
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,356.0
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,3460.0,30215.5,2,10184.0,193,0,356.0

In [ ]:
niveles.drop_duplicates()

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
1,588,1978,1842.0,5588.0,6850,NaN,11692,254,NaN
2,27,1028,752.0,22890.0,505,NaN,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,NaN,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,NaN
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,NaN,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
16,65,3133,NaN,10141.0,1325,NaN,2885,484,450.0
17,8,2913,1650.0,286.0,472,NaN,1427,536,NaN
18,480,9752,7074.0,35548.0,85330,NaN,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,NaN,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,NaN
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
23,132,14733,9472.0,86202.0,5083,NaN,6327,1840,NaN
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,NaN
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,NaN
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0
32,12,40,NaN,NaN,2,NaN,193,0,NaN

In [ ]:
niveles.dropna(thresh=8)

,Numero_de_empresas,PM10,PM2.5,SO2,CO,NOX,COV,NH3,CN
0,0,945,629.0,1814.0,235,843.0,1836,14,5.0
2,27,1028,752.0,22890.0,505,NaN,516,115,58.0
3,39,4527,3847.0,574973.0,8698,34132.0,3465,382,356.0
4,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
5,34,3360,NaN,33287.0,9505,11015.0,4741,264,137.0
6,42,19963,16177.0,190970.0,24171,158743.0,6202,1220,NaN
7,367,8207,4958.0,166476.0,1767,20578.0,1296,449,508.0
8,1569,1381,826.0,699.0,766,2217.0,21967,50,23.0
9,80,2971,NaN,27144.0,2930,6645.0,3156,157,166.0
10,233,3810,2770.0,48462.0,74299,9249.0,10155,1137,171.0
11,8,8215,7725.0,104172.0,2327,11206.0,708,88,451.0
12,129,12532,8977.0,216611.0,115085,31484.0,7567,322,370.0
13,692,8768,5399.0,23897.0,3216,6323.0,15623,1983,1172.0
14,1232,5103,3627.0,6763.0,6244,15159.0,48140,233,187.0
15,151,5095,3460.0,13717.0,2856,4303.0,5379,1957,379.0
18,480,9752,7074.0,35548.0,85330,NaN,13498,511,337.0
19,20,9218,5838.0,111005.0,104373,NaN,7383,3376,838.0
20,252,4556,2673.0,4558.0,2576,6335.0,3685,54,552.0
21,184,1510,1153.0,4444.0,2379,6916.0,5930,92,NaN
22,11,2076,1199.0,566.0,349,512.0,866,387,348.0
24,62,7203,4623.0,106277.0,1209,10896.0,3119,763,NaN
25,214,5063,3083.0,54592.0,2510,4845.0,3419,912,812.0
26,179,7986,5116.0,75004.0,3732,13328.0,4093,327,259.0
27,104,3612,2501.0,14118.0,6911,21139.0,6280,607,496.0
28,222,7572,6162.0,50158.0,69356,30307.0,30732,2071,324.0
29,94,307,211.0,1456.0,244,822.0,1216,10,NaN
30,197,41938,25779.0,160835.0,81529,45656.0,26427,7877,5608.0
31,51,2108,1769.0,19008.0,2973,10184.0,3834,198,124.0

In [ ]:
niveles.std()

Numero_de_empresas       346.377356
PM10                    7711.727059
PM2.5                   5258.749638
SO2                   110163.166286
CO                     34131.505325
NOX                    31415.400186
COV                    10278.400976
NH3                     1474.116431
CN                      1081.491467
dtype: float64

In [ ]:
niveles.mean()

Numero_de_empresas      233.090909
PM10                   6565.636364
PM2.5                  4909.482759
SO2                   69570.406250
CO                    19161.121212
NOX                   18707.280000
COV                    8096.242424
NH3                     896.424242
CN                      597.720000
dtype: float64